*{
font-family: 'Fresca', sans-serif;
}
body {
  /* background-image: linear-gradient(to right,#e7a700,#f7e004,#e7a700);    */
  background-image: linear-gradient(to right,#ffd744,#f7e004,#ffd744);
}
#copyright {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.container {
  position: relative;
  text-align: center;
}

label {
  width: 200px;
  display: inline-block;
  text-align: left;
}
input {
  border-radius: 4px;
  padding: 6px;
}
select {
  padding: 6px;
}

#centre{
  opacity: 0.9;
  position: absolute;
  top: 10vh;
  left: 35vw;
}
